<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать!</h1>
        <p style="text-align: center; margin-bottom: 20px;">Простое приложение с регистрацией и авторизацией</p>
        
        <div class="menu">
            <a href="/register-page">Регистрация</a>
            <a href="/login-page">Вход</a>
        </div>
    </div>
</body>
</html>